@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  header,
  footer,
  article,
  div {
    @apply transition-all duration-300 ease-in-out;
  }

  ::selection {
    @apply bg-primary text-text-dark;
  }

  .dark ::selection {
    @apply bg-blue-700 text-text-dark;
  }
}

html {
  @apply text-[17px];
}

body {
  @apply bg-background-light text-text-light;
  font-family: var(--font-suit), sans-serif;
}

.prose code::before,
.prose code::after {
  content: none;
}

[data-rehype-pretty-code-title] {
  @apply text-sm font-semibold text-text-light rounded-t-lg bg-gray-300 px-3 py-1.5;
}

.dark [data-rehype-pretty-code-title] {
  @apply text-text-dark bg-gray-800;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-b-lg;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

pre code {
  counter-reset: line;
}

pre code > span {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  line-height: 1.6rem;
}

pre code > span::before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  left: 0;
  width: 0;
  text-align: right;
  color: #999;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

code[data-theme~='github-light'],
code[data-theme~='github-light'] span {
  color: var(--shiki-light);
}

.dark code[data-theme~='one-dark-pro'],
.dark code[data-theme~='one-dark-pro'] span {
  color: var(--shiki-dark);
}
